body {
	margin: 0;
}
nav {
  display: flex;
	flex-direction: column;
	background-color: #eb9834;
	flex-basis: 15vw;
	flex-shrink: 0;
}

nav a {
	color: black;
	padding: 1em 7em;
	text-decoration: none;
	transition: background-color 0.9s;
  font-size: 19px;
  font-style: bold;
}

nav a:hover {
	background-color: #ff7700;
}

header, section, main {
	overflow: auto;
}


header, section {
	padding: 0 0.5em;
}

header {
	background-color: #ff7700;
}

nav, main {
	box-sizing: border-box;
}

section {
	background-color: #ff5e00;
	color: white;
	overflow: auto;
}

main {
	display: flex;
	flex-direction: row-reverse;
}

#target {
	background-color: white;
	color: black;
	border: 5px solid black;
	padding: 0 0.5em;
}
